<h1>nova</h1>
<%= form_for :claim ,url: claims_path do |f| %>
	<p>
		<%= f.label :Latitude %><br>
		<%= f.text_field :lat %>
	</p>
	<p>
		<%= f.label :Longitude %><br>
		<%= f.text_field :lng %>
	</p>

	<%= f.collection_select(:category_id, Category.all, :id, :title, prompt: true) %>

	<% @categories.each do |category| %>
		<%= category.title %> - <%= category.id %>
	<% end %>

	<p>
	<%= f.label :body %><br>
	<%= f.text_area :body %>
	</p>
 
	<p>
	<%= f.submit %>
	</p>
<% end %>