<% @complaints.each do |complaint| %>
  <div class="col-xs-12 col-sm-4">
    <div class="complaint-item">
      <h1 class="title"><%= link_to complaint.title, complaint %></h1>
      <p><%= complaint.body.at(0..150) %>...</p>
      <small><%= complaint.category.title %> - <%= complaint.created_at.strftime("%d/%m/%Y"); %></small>
      <%= link_to "Visualizar", complaint ,:class=>"btn btn-primary"%>
    </div>
  </div>
<% end %>