<% content_for :opg do%>
  <title>Nova Reclamação | Minha Rua Tem Problema</title>
  <meta property="og:title" content="Crie sua reclamação | Minha Rua Tem Problema" />
  <meta property="og:description" content="Criei uma reclamação de sua cidade" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.minharuatemproblema.com.br/<%=raw url_for(:only_path => true) %>" />
  <meta property="og:image" content="http://www.minharuatemproblema.com.br/assets/images/denuncia.jpg" />
<% end %>
<div class="container max-960">
  <div class="row">
    <div class="col-xs-12">
      <h1>Criando sua reclamação</h1>
    </div>
  </div>
  <div class="row">
      <% if @complaint.errors.any? %>
        <div class="col-xs-12" id="error_explanation">
          <ul>
          <% @complaint.errors.full_messages.each do |message| %>
            <li><%= message.split('#!')[1] %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
  </div>
  
  <%= form_for(@complaint) do |f| %>
  <div class="row">
      <div class="col-xs-12">
        <div class="field">
            <%= f.label :address, "Endereço da reclamação"%><br>
            <%= f.text_field :address %>
        </div>
      </div>
  </div>
  <div class="row">

      <div class="col-sm-8 col-sm-push-4">
        <div id="map" style="height:400px;width:100%;"></div>
      </div>

      <div class="col-sm-4 col-sm-pull-8">
          <div class="field">
            <%= f.hidden_field :latitude %>
          </div>

          <div class="field">
            <%= f.hidden_field :longitude %>
          </div>

           <div class="field">
             <%= f.label :category_id, "Categoria" %><br>
            <%= f.collection_select(:category_id, Category.all, :id, :title, prompt: true) %>
          </div>

          <div class="field">
            <%= f.label :title, "Titulo" %><br>
            <%= f.text_field :title %>
          </div>

          <div class="field">
            <%= f.label :body,"Descreva detalhadamente o acontecimento" %><br>
            <%= f.text_area :body, cols: 40, rows: 3 %>
          </div>

          <div class="field actions">
            <%= f.submit "Criar reclamação"%>
          </div>
       </div>
    <% end %>
  </div>
</div>



<script type="text/javascript">

	 var map
 
    var geocoder 
 
    var marker 

    function initMap() {
      var myLatlng = new google.maps.LatLng(-14.235004,-51.92528);

      map = new google.maps.Map(document.getElementById('map'), {
        center: myLatlng,
        zoom: 4
      });
      
      geocoder = new google.maps.Geocoder();
      
      checkMap();
      
      marker = new google.maps.Marker({
          map: map,
          draggable: true,
          animation: google.maps.Animation.DROP
      });
      var latitude = localStorage.latitude
      var longitude = localStorage.longitude

      $('#complaint_latitude').val(latitude);
      $('#complaint_longitude').val(longitude);

      var location = new google.maps.LatLng(latitude, longitude);
      marker.setPosition(location);

	  	google.maps.event.addListener(marker, 'drag', function () {
	  		console.log('drag')
	        geocoder.geocode({ 'latLng': marker.getPosition() }, function (results, status) {
	            if (status == google.maps.GeocoderStatus.OK) {
	                    if (results[0]) { 
	                   	                    	
	                    $('#complaint_address').val(results[0].formatted_address);
	                    $('#complaint_latitude').val(marker.getPosition().lat());
	                    $('#complaint_longitude').val(marker.getPosition().lng());
	                }
	            }
	        });
	    });

	    $('#complaint_address').autocomplete({
        source: function (request, response) {
            geocoder.geocode({ 'address': request.term + ', Brasil', 'region': 'BR' }, function (results, status) {
                response($.map(results, function (item) {
                	city = obterCidade(item.address_components)
                    return {
                        label: item.formatted_address,
                        value: item.formatted_address,
                        city:city,
                        latitude: item.geometry.location.lat(),
                        longitude: item.geometry.location.lng()
                    }
                }));
            })
        },
        select: function (event, ui) {
            $("#complaint_latitude").val(ui.item.latitude);
            $("#complaint_longitude").val(ui.item.longitude);
            var location = new google.maps.LatLng(ui.item.latitude, ui.item.longitude);
            console.log(ui)
            marker.setPosition(location);
            map.setCenter(location);
            map.setZoom(16);
        }
    });



    }


    function loadOnMap(address) {
        geocoder.geocode({ 'address': address + ', Brasil', 'region': 'BR' }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                if (results[0]) {
                    var latitude = results[0].geometry.location.lat();
                    var longitude = results[0].geometry.location.lng();
 
                    $('#complaint_address').val(results[0].formatted_address);
                    $('#complaint_city').val(obterCidade(results[0].address_components))
                    $('#complaint_latitude').val(latitude);
                    $('#complaint_longitude').val(longitude);
 
                    var location = new google.maps.LatLng(latitude, longitude);
                    marker.setPosition(location);
                    map.setCenter(location);
                    map.setZoom(16);
                }
            }
        });
    }

    function obterCidade(arrAddress){
    	var cidade = ''
    	$.each(arrAddress, function (i, address_component) {
		    if (address_component.types[0] == "locality" || address_component.types[0] == "political"){
		        console.log("Cidade: "+address_component.long_name);
		        cidade = address_component.long_name;
		    }
		});
		return cidade;
    }


    $('#buscar').click(function(){
    	var end = $('#complaint_address').val();
    	loadOnMap(end);
    	return false;
    });

    $('#complaint_address').blur(function() {
        if($(this).val() != "")
            loadOnMap($(this).val());
    })

</script>