<% content_for :opg do%>
  <title>Nova Reclamação | Minha Rua Tem Problema</title>
  <meta property="og:title" content="Crie sua reclamação | Minha Rua Tem Problema" />
  <meta property="og:description" content="Criei uma reclamação de sua cidade" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.minharuatemproblema.com.br/<%=raw url_for(:only_path => true) %>" />
  <meta property="og:image" content="https://www.minharuatemproblema.com.br/assets/images/denuncia.jpg" />
<% end %>

<div class="overlay">
  <div class="loading">
    <img src="/images/loading.gif" alt="">
    <h1 id="text">Setando coordenadas...</h1>
  </div>
</div>
<div class="container max-960">
  <div class="row">
    <div class="col-xs-12">
      <h1>Criando sua reclamação</h1>
    </div>
  </div>
  <div class="row">
      <% if @complaint.errors.any? %>
        <div class="col-xs-12" id="error_explanation">
          <ul>
          <% @complaint.errors.full_messages.each do |message| %>
            <li><%= message.split('#!')[1] %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
  </div>
  
  <%= form_for @complaint ,html: { multipart: true } do |f| %>
  <div class="row">
      <div class="col-xs-12">
        <div class="field">
            <%= f.label :address, "Endereço completo da reclamação"%><br>
            <%= f.text_field :address %>
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-8 col-sm-push-4">
        <div id="map" style="height:400px;width:100%;"></div>
      </div>

      <div class="col-sm-4 col-sm-pull-8">
          <div class="field">
            <%= f.hidden_field :latitude %>
          </div>

          <div class="field">
            <%= f.hidden_field :longitude %>
          </div>

          <div class="field">
            <%= f.hidden_field :cidade_id, value: @city.id%>
          </div>

          <div class="upload-preview">
            <img />
            <div id="add-photo">Escolher foto</div>
          </div>

          <div class="field" style="display:none;">
             <%= f.file_field :image %>
          </div>

          <div class="field">
            <%= f.label :category_id, "Categoria" %><br>
            <%= f.collection_select(:category_id, Category.all, :id, :title, prompt: true) %>
          </div>

          <div class="field">
            <%= f.label :title, "Titulo" %><br>
            <%= f.text_field :title %>
          </div>

          <div class="field">
            <%= f.label :body,"Descreva detalhadamente o acontecimento" %><br>
            <%= f.text_area :body, cols: 40, rows: 3 %>
          </div>

          <div class="field actions">
            <%= f.submit "Criar reclamação"%>
          </div>
       </div>
    <% end %>
  </div>
</div>



<script type="text/javascript">
	  var map;
    var geocoder;
    var marker;

    function initMap() {
      var myLatlng = new google.maps.LatLng(-14.235004,-51.92528);
      map = new google.maps.Map(document.getElementById('map'), {
        center: myLatlng,
        zoom: 8
      });
      
      geocoder = new google.maps.Geocoder();
      marker = new google.maps.Marker({
          map: map,
          draggable: true,
          animation: google.maps.Animation.DROP
      });
      
      loadOnMap('<%= @city.nome %> - <%= @city.estado.sigla %>');
      $('#complaint_address').focus();
      $('#complaint_address').click();
	  	google.maps.event.addListener(marker, 'drag', function () {
	        geocoder.geocode({ 'latLng': marker.getPosition() }, function (results, status) {
	            if (status == google.maps.GeocoderStatus.OK) {
                if (results[0]) {    	
                  $('#complaint_address').val(results[0].formatted_address);
                  $('#complaint_latitude').val(marker.getPosition().lat());
                  $('#complaint_longitude').val(marker.getPosition().lng());
                }
	            }
	        });
	    });
	    $('#complaint_address').autocomplete({
        source: function (request, response) {
            geocoder.geocode({ 'address': request.term +', <%= @city.nome %> - <%= @city.estado.sigla %> , Brasil', 'region': 'BR' }, function (results, status) {
                response($.map(results, function (item) {
                    return {
                        label: item.formatted_address,
                        value: item.formatted_address,
                        latitude: item.geometry.location.lat(),
                        longitude: item.geometry.location.lng()
                    };
                }));
            });
        },
        select: function (event, ui) {
            $("#complaint_latitude").val(ui.item.latitude);
            $("#complaint_longitude").val(ui.item.longitude);
            var location = new google.maps.LatLng(ui.item.latitude, ui.item.longitude);
            marker.setPosition(location);
            map.setCenter(location);
            map.setZoom(16);
        }
    });
    }


    function loadOnMap(address) {
        console.log(address);
        geocoder.geocode({ 'address': address + ', Brasil', 'region': 'BR' }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                if (results[0]) {
                    var latitude = results[0].geometry.location.lat();
                    var longitude = results[0].geometry.location.lng();
                    
                    $('#complaint_latitude').val(latitude);
                    $('#complaint_longitude').val(longitude);
                    var location = new google.maps.LatLng(latitude, longitude);
                    marker.setPosition(location);
                    map.setCenter(location);
                    map.setZoom(14);

                    
                }
            }
        });
    }


    $('#new_complaint').submit(function(event){
     
      $('.overlay').css('display','block');
    
      if($('#complaint_image').val() != ""){
        setTimeout(function(){

          $('#text').text('Enviando imagem...');

          setTimeout(function(){
              $('#text').text('Recortando imagem e finalizando...');
          },13000)

        },4000)
      }else{
         setTimeout(function(){

          $('#text').text('Finalizando...');

        },3000)
      }
     
    })

    $('#complaint_address').blur(function() {
        if($(this).val() != "")
            loadOnMap($(this).val());
    })

    $('#add-photo, .upload-preview ').click(function(){
      $('#complaint_image').click();
      $('#add-photo').text('Alterar imagem');
      return false;
    })

    var preview = $(".upload-preview img");

    $("#complaint_image").change(function(event){
       var input = $(event.currentTarget);
       var file = input[0].files[0];
       var reader = new FileReader();
       reader.onload = function(e){
           image_base64 = e.target.result;
           preview.attr("src", image_base64);
       };
       reader.readAsDataURL(file);
    });

</script>