<!-- <p id="notice"><%= notice %></p>
 -->
<div id="map" ></div>

<div class="container">
  <div class="row">
    <p>
      <strong>Localidade:</strong>
      <%= @complaint.address %> - <%= @complaint.city %>
    </p>

    <p>
      <strong>Categoria:</strong>
      <%= @complaint.category.title %>
    </p>

    <p>
      <strong>Likes:</strong>
      <%= @complaint.likes %>
    </p>
  </div>
</div>


<script type="text/javascript">
    var complaint = <%=raw @complaint.to_json%>
    var map;


    function initMap() {
      var myLatlng = new google.maps.LatLng(complaint.latitude,complaint.longitude);
      console.log(complaint)
      map = new google.maps.Map(document.getElementById('map'), {
        center: myLatlng,
        zoom: 16
      });

      var marker = new google.maps.Marker({
          position: myLatlng,
          title:"Hello World!"
      });

      var contentString = '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
          '<h1 id="firstHeading" class="firstHeading">'+complaint.title+'</h1>'+
          '<div id="bodyContent">'+
          '<p>'+complaint.body+'</p>'+
          '</div>'+
          '</div>';

      //cria a janela
      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });infowindow.open(map, marker);
      //quando clicar abre
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
      // To add the marker to the map, call setMap();
      marker.setMap(map);

    }
</script>

