<!DOCTYPE html>
<html>
<head>
  <title>MinhaRua</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<ul>
	<li> <%= link_to('Home', root_path)  %>  </li>
	<% if !user_signed_in? %>
		<li> <%= link_to('Efetuar Login', new_user_session_path)  %>  </li>
		<li> <%= link_to('Cadastre-se', new_user_registration_path)  %>  </li>
	<% end %>
	<% if user_signed_in? %>
		<li> <%= link_to('Minhas Reclamações', claims_path)  %>  </li>
		<li> <%= link_to('Criar Reclamação', new_claim_path)  %>  </li>
		<li> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>     </li>
	<% end %>

</ul>
<%= yield %>

</body>
</html>
