<!DOCTYPE html>
<html>
<head>
  <title>MinhaRua</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<ul>
	<li> <%= link_to('Home', root_path)  %>  </li>
	<li> <%= link_to('Entrar', new_user_session_path)  %>  </li>
	<li> <%= link_to('Cadastre-se', new_user_registration_path)  %>  </li>
	<li> <%= link_to('Todas Reclamações', claims_path)  %>  </li>

	
</ul>
<%= yield %>

</body>
</html>
