<!DOCTYPE html>
<html>
<head>
  <title>MinhaRua</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">MRTP</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        	<li> <%= link_to('Home', root_path)  %>  </li>
				<% if !user_signed_in? %>
					<li> <%= link_to('Efetuar Login', new_user_session_path)  %>  </li>
					<li> <%= link_to('Cadastre-se', new_user_registration_path)  %>  </li>
				<% end %>
				<% if user_signed_in? %>
					<li> <%= link_to('Minhas Reclamações', claims_path)  %>  </li>
					<li> <%= link_to('Criar Reclamação', new_claim_path)  %>  </li>
					<li> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>     </li>
				<% end %>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<main>
		<div class="container">
			<%= yield %>
		</div>
	</main>
	<footer style="background:#eee">
		<div class="container-fluid">
			<div class="col-xs-12">
				<p>Minha Rua tem Problema!</p>
			</div>
		</div>
	</footer>
</body>
</html>
